<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.ditto.book.BookMapper">
    <select id="selectBooks" resultType="bookVO">
        SELECT
            BOOK_NO,
            BOOK_NAME,
            BOOK_COMPANY,
            BOOK_INTRO,
            BOOK_RENT,
            BOOK_AUTHOR,
            BOOK_RELEASE,
            BOOK_IMAGE
        FROM
            BOOK
    </select>
</mapper>