<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.nextit.ditto.freeboard.FreeBoardMapper">

    <resultMap id="freeBoardResultMap" type="kr.or.nextit.ditto.freeboard.FreeBoardVO">
        <id property="freeBoardNo" column="FREE_BOARD_NO"/> <!-- 게시판 번호 매핑 -->
        <result property="memberId" column="MEMBER_ID"/> <!-- 회원 ID 매핑 -->
        <result property="freeTitle" column="FREE_TITLE"/> <!-- 게시물 제목 매핑 -->
        <result property="freeContent" column="FREE_CONTENT"/> <!-- 게시물 내용 매핑 -->
        <result property="hits" column="HITS"/> <!-- 조회수 매핑 -->
        <result property="registerTime" column="REGISTER_TIME"/> <!-- 등록 시간 매핑 -->
        <result property="modifyTime" column="MODIFY_TIME"/> <!-- 수정 시간 매핑 -->
        <result property="status" column="STATUS"/> <!-- 상태 매핑 -->
    </resultMap>

    <!-- 모든 게시물을 조회하는 SQL 쿼리 -->
    <select id="getBoardList" resultMap="freeBoardResultMap">
        SELECT
            a.FREE_BOARD_NO,
            a.MEMBER_ID,
            a.FREE_TITLE,
            a.HITS,
            a.REGISTER_TIME
        FROM
            FREE_BOARD a
        WHERE
            a.STATUS = 'Y'
    </select>

    <!-- 제목에 검색어가 포함된 게시물을 조회하는 SQL 쿼리 -->
    <select id="searchBoardListByTitle" resultMap="freeBoardResultMap">
        SELECT
        a.FREE_BOARD_NO,
        a.FREE_TITLE,
        a.MEMBER_ID,
        a.REGISTER_TIME,
        a.HITS
        FROM
        FREE_BOARD a
        WHERE
        a.FREE_TITLE LIKE CONCAT('%', #{keyword}, '%')
        AND a.STATUS = 'Y'
    </select>
    <!-- 아이디가 검색어에 포함되있는경우 -->
    <select id="searchBoardListByMemberId" resultMap="freeBoardResultMap">
        SELECT
            a.FREE_BOARD_NO,
            a.FREE_TITLE,
            a.MEMBER_ID,
            a.REGISTER_TIME,
            a.HITS
        FROM
            FREE_BOARD a
        WHERE
            a.MEMBER_ID LIKE CONCAT('%', #{keyword}, '%')
            AND a.STATUS = 'Y'
    </select>

    <select id="getBoardDetail" resultMap="freeBoardResultMap">
        SELECT
            FREE_BOARD_NO,
            MEMBER_ID,
            FREE_TITLE,
            FREE_CONTENT,
            HITS,
            REGISTER_TIME,
            MODIFY_TIME,
            STATUS
        FROM
            FREE_BOARD
        WHERE
            FREE_BOARD_NO = #{freeBoardNo}
    </select>

<!--    <update id="getBoardDetail">-->
<!--        UPDATE-->
<!--            FREE_BOARD-->
<!--        SET-->
<!--            HITS = #{hits + 1}-->
<!--        WHERE-->
<!--            FREE_BOARD_NO = #{freeBoardNo}-->
<!--    </update>-->

   <insert id="addBoard">
        INSERT INTO FREE_BOARD (MEMBER_ID, FREE_TITLE, FREE_CONTENT)
        VALUES (#{memberId}, #{freeTitle}, #{freeContent})
    </insert>

<!--    <update id="updatePost">-->
<!--        UPDATE-->
<!--            FREE_BOARD-->
<!--        SET-->
<!--            FREE_TITLE = #{freeTitle},-->
<!--            FREE_CONTENT = #{freeContent},-->
<!--            MODIFY_TIME = CURRENT_TIMESTAMP-->
<!--        WHERE-->
<!--            FREE_BOARD_NO = #{freeBoardNo}-->
<!--    </update>-->

<!--    <delete id="deletePost">-->
<!--        DELETE FROM-->
<!--            FREE_BOARD-->
<!--        WHERE-->
<!--            FREE_BOARD_NO = #{freeBoardNo}-->
<!--    </delete>-->

</mapper>
