<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.nextit.ditto.freeboard.FreeBoardMapper">
    <!-- Mapper 인터페이스와 연결된 XML 파일 -->

    <select id="getAllFreeBoards" resultType="kr.or.nextit.ditto.freeboard.FreeBoardVO">
        <!-- 모든 활성화된 게시글을 조회하는 SQL 쿼리 -->
        SELECT
            free_board_no,
            member_id,
            free_title,
            free_content,
            hits,
            register_time,
            modify_time,
            status
        FROM
            FREE_BOARD
        WHERE
            STATUS = 'Y'
    </select>

</mapper>
