<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.ditto.member.MemberMapper">
    <select id="login" parameterType="memberVO" resultType="memberVO">
        SELECT
           *
        FROM
            MEMBER A
        WHERE
            A.MEMBER_ID = #{memberId}
            AND A.MEMBER_PW = #{memberPw}
    </select>
</mapper>