<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.ditto.podcast.PodcastMapper">
    <select id="selectPodcast" resultType="podcastVO">
        SELECT
            PODCAST_NO,
            CREATE_DATE,
            MODIFY_DATE,
            STATUS,
            HITS,
            TOTAL_STREAMING_TIME
        FROM
            PODCAST
    </select>
</mapper>